body {color:#777;}
.rooptop {position:relative;}
.footer {display:none;}

a {text-decoration:none;color:#000;}
a:visited {color:#555;}
a:hover {color:#80191f;}

.back {position:absolute;color:#80191f;font-size:1.4em;top:73px;left:20px;cursor:pointer;}

.section div {width:90%;margin-left:auto;margin-right:auto;margin-bottom:5px;}
.section div.title {margin-top:20px;text-align:center;color:#80191f;font-size:1.4em;margin-bottom:50px;}
.section div.subtitle {margin-top:20px;text-align:left;color:#80191f;font-size:1em;margin-bottom:10px;}

/**************/

.choice {text-align:left;padding:15px 0;}
.section div > ul {list-style-type:none;}
.section div > ul > li {display:inline-block;padding:10px;font-size:0.8em;line-height:1.2em;width:calc(33% - 23px);height:50px;margin-right:5px; margin-bottom:5px; }
.btn.off {border:1px solid #777;background-color:#777;}
.btn.hide {border:1px solid #fff;background-color:#fff;cursor:default;}
.btn.title {border:1px solid #c44;background-color:#c44;cursor:default;}

.pop {
   z-index:21;
   display:none;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);
   background-color:transparent;
   background-image:url('../images/settle/end.png');background-size:contain;background-repeat: no-repeat;
   width:250px;height:250px;
   padding:30px;padding-top:140px;
   line-height:1.2em;color:#80191f;font-size:0.8em;
}

.pop div {width:100%;}

.pop div.txt {position:absolute;top:95px;left:0px;text-align:center;}
.pop div.btn {position:absolute;top:140px;left:0px;text-align:center;background-color:transparent;border:0;}
.pop div span {padding:5px;background-color:#fff;border:0;color:#80191f;cursor:pointer;}

#mask {position:absolute;left:0;top:0;z-index:20;background-color:#000;display:none;}

strong {font-weight:normal;border-bottom:1px solid orange;}

/* responsive web */
@media only screen and (max-width : 1040px) {
	.section div > ul > li {width:calc(33% - 26px);}
	.pop div {margin-top:56px;}
}