.section.main-section-3,  .section.main-section-4,  .section.main-section-5 {position:relative;background-color:white;}
.section:last-child {padding-bottom:120px;}
.rooptop {position:fixed;top:0;}
.footer {position:relative;margin-top:-50px;}

div.title {width:90%;margin-left:auto;margin-right:auto;padding-top:80px;text-align:left;font-size:1.4em;color:#80191f;margin-bottom:15px;}
div.detail {width:90%;margin-left:auto;margin-right:auto;text-align:left;font-size:0.825em;line-height:1.2em;}

/* #user guide */
.slideup {
	text-align:center;padding-top:30px;
	width:100%;background-color:#fff;
}
.slideup > .subheading_img {margin-top:0;}
.slideup div.title {padding-top:0;}
ol {list-style-type: decimal;margin:0;color:#333;}

/* #process */
.slide {position:relative;width:90%;height:600px;margin-left:auto;margin-right:auto;overflow:hidden;}

.section ul {padding:30px 0 0 0;list-style-type:none;}
.section ul li {
	position:absolute;
	text-align:left;width:15%;height:550px;vertical-align:top;
}
.section li:after {content:">";font-size:3em;color:#80191f;padding:10px;position:absolute;margin-top:-400px;width:30px;right:-43px;}
.section li:last-child:after {content:"";}
.section li > div {width:100%;height:550px;font-size:0.825em;line-height:1.2em;}
.section li > div > span:nth-child(1) {font-size:1.8em;color:#80191f;padding-right:10px;}
.section li > div > span:nth-child(2) {font-size:1.2em;color:#80191f;}
.section li > div > img {width:100%;margin:10px 0;}
.section li > div > div {z-index:3;position:absolute;bottom:-20px;width:100%;height:140px;background-color:#fff;padding:15px 0px;}

/* chains */
.all {width:calc(50% - 10px);}
.search {width:calc(50% - 60px);position:absolute;left:50%;top:310px;}
.chain_search {margin-bottom:8px;background:url('../images/m.png') no-repeat;background-position:calc(100% - 10px);}

.all div.title {margin-left:50px;}
.section table {margin-top:0px;width:100%;}
.section th {border-top:1px solid #a0393f;}
.section td {border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section td.pic {width:150px;height:150px;padding:0px;vertical-align:top;}
.section td img {width:100%;height:100%;margin-bottom:-3px;}
.section td.underline {border-bottom:1px solid #ccc;}
.section .chains {text-align:left;color:#000;}
.section .last {border-bottom:1px solid #ccc;}

div.list  {height:500px;overflow-y:scroll;}
.all div.list {padding-left:50px;}
.search div table {margin-bottom:5px;}


/* responsive web */
@media only screen and (max-width : 1040px) {
	.section li > div > div {padding:15px;}
	.section li:last-child:after {content:"";padding:0;width:0;}
	.section:last-child {height:1400px;}
	.all, .search {width:calc(100% - 60px);position:absolute;left:30px;}
	.all {top:800px;margin:0;padding:0;}
	.all div.title {margin-left:0;}
	.all div.list {margin-left:0;background-color:#f00;}
	.all div.list table {margin-left:-50px;width:calc(100% + 50px);}
	.search {top:250px;}
	th {display:none;}
}