@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/hanna.css');

html, body {margin:0;padding:0;height:100%;}
body {
	min-width:300px;height:100%;overflow-x:hidden;
	font-family:'Hanna', sans-serif;font-size:1.4em;color:#222;
	background-color:white;
	background-size:auto 100%;
}
div,ul,li,p,h1,h2,iframe,table,th,td {margin:0;padding:0;}
ol {list-style-type:decimal-leading-zero;}
img, fieldset, button {border:0;}
button {cursor:pointer;font-size:0.95em;}
b {color:#000;}
iframe {width:0;height:0;overflow:hidden;border:0;}

html {-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

input, select, textarea {width:calc(100% - 10px);height:35px;padding:0;border:1px solid #80191f;padding-left:10px;font-family:'Hanna', sans-serif;font-size:1em;}
input:focus, select:focus, textarea:focus { outline: none; }
textarea {padding:10px;}

table {border-spacing:0;}

/* a tag */
a {text-decoration:none;color:#aaa;}
a:visited {color:#555;}
a:hover {color:#fff;}
a.btn {text-decoration:none;font-size:0.9em;letter-spacing:-1px;transition:background-color .4s ease-in-out;}
a.btn:hover {background-color:#779;}

/* header */
.rooptop {position:absolute;z-index:10;width:100%;height:54px;text-align:center;background-color:#80191f;}
.rooptop img {height:50px;}

/* drawer */
#drawer {z-index:9;position:fixed;top:14px;right:15px;width:28px;height:28px;}
.menu {
	z-index:10;position:fixed;top:0;right:-260px;width:250px;height:100%;
	background-color:#421;padding-top:21px;
	text-align:left;font-size:0.825em;
}
.menu ul a {color:white;transition:color .2s ease-in-out;}
.menu ul a:hover {color:#dbb953;}
.menu li {list-style:none;width:calc(100% - 40px);margin:0 20px;padding:7px 0;border-bottom:1px solid #754;}
.menu ul>li>ul>li {border:0;}
.menu ul>li>span {color:white;width:100%;color:white;cursor:pointer;}
.menu ul>li>span::after {position:absolute;right:20px;content:'+'}
.menu ul>li>span.opened::after {content:'-'}
.menu ul>li>span.nochild::after {content:' '}
.menu ul>li>ul>li:first-child {border-top:0;margin-top:7px;}
.menu ul>li>ul>li:last-child {margin-bottom:7px;}
/* .menu ul>li>ul {display:inline-block;} */

/* section */
.section {text-align:center;}

.subheading_img {width:70px;height:70px;margin-top:80px;}
.subheading {font-size:2em;color:#80191f;margin:10px 0 20px 0;}

.section table {width:90%;margin-top:80px;font-size:0.8em;margin-left: auto; margin-right: auto;}
.section th {background-color:#80191f;color:white;padding:8px;}
.section td {background-color:#eee;color:#80191f;padding:8px;}

/* footer */
.footer {position:absolute;bottom:0;z-index:9;width:100%;background-color:#333;font-size:0.72em;color:white;padding:10px 0px;}
.footer table {border:0;width:70%;margin-left: auto; margin-right: auto;border-spacing:0;}
.footer th {border-right:1px solid #aaa;text-align:left;height:25px;padding-right:15px;width:15%;}
.footer td {border:0;text-align:left;padding-left:15px;width:35%;}

/* common button design */
.btn {width:100%;background-color:#80191f;border:1px solid #80191f;padding:10px 0;color:white;cursor:pointer;}

/* responsive web */
@media only screen and (max-width : 1040px) {
	body {font-size:1.4em;}	
	.rooptop {position:relative;}
	span.menu li {padding:18px;}
	span.menu>ul>li>ul>li {margin-left:10px;padding-left:0;border-bottom:1px solid #643;}
	span.menu>ul>li>ul>li:last-child {border-bottom:0;padding-bottom:0;}
	.footer table {width:96%;}
	.subheading_img {margin-top:36px;}
}


/* placeholder */
::-webkit-input-placeholder {color: #bbb;}
::-moz-placeholder {color: #bbb;}
::-moz-placeholder {color: #bbb;}
::-ms-input-placeholder {color: #bbb;} 